<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - OfiPensiones</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h3 class="text-center">Inicia sesión en OfiPensiones</h3>
        <form method="post" action="" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary btn-block" />
            </div>
        </form>

        <div class="d-flex justify-content-center links">
            ¿No tienes una cuenta? <a href="{% url 'register' %}" class="ml-2">Regístrate</a>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
